<!DOCTYPE html>
<html>
  <head>
    <title>GggApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <header>
     <div class="header-logo">
        <%=link_to :users do%>
          <%= image_tag 'https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png'%>
        <%end%>
     </div>     
       
   </header>
    <%= yield %>
    <footer class="footer">
     <p>© 2020 POTEPAN.INC.</p> 
    </footer>
  </body>
</html>
